.navigation{
    background-color: #261447;
    height: 100px;
    max-height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 100;
}
.navigation .navbar{
    width: 100%;
    background-color: #261447;
}
.navbar .container{
    background-color: #261447;
}
.container .navbar-brand img{
    width: 70px;
}
.container button{
    border: solid 2px white;
    background-color: #2de2e6;
}
.me-auto .nav-link{
    color: #2de2e6;
    text-align: center;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

