@media (max-width: 375px){
    .navigation{
        height: 60px;
    }
    ul{
        margin: 0 !important;
        padding: 0 !important;
    }
    li{
        width: 19%;
        padding: 0 !important;

    }
    li a{
        font-size: xx-small;
    }
}