@media (max-width: 500px){
    .carouselPai{
        height: 250px;
        width: 100%;
    }
    .carouselPai .carousel{
        width: 100%;
        height: 100%;
    }
    .carousel-item img{
        height: 250px;
    }
}