.error{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.error img{
    height: 450px;
    width: 100%;
    /* position: absolute;
    top: 0; */
}
.error h1{
    margin-top: 300px;
    text-align: center;
    color: #f6019d;
    font-size: large;
}
.error h3{
    margin-top: 10px;
    text-align: center;
    color: #f6019d;
    font-size: large;
}
.error h3 a{
    color: #2de2e6;
    text-decoration: none;
    padding-left: 5px;
}
.error .texto-error{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
}
.error .logo{
    height: 200px;
    margin-top: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.error .logo img{
    height: 100%;
    width: 45%;
}
    
    